<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="entity-cache-cuba-68"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.gitlab.daring.sandbox.cuba.entity.BaseEntity</class>
        <class>com.gitlab.daring.sandbox.cuba.entity.BaseNamedEntity</class>
        <class>com.gitlab.daring.sandbox.cuba.entity.Rule</class>
        <class>com.gitlab.daring.sandbox.cuba.entity.RuleType</class>
    </persistence-unit>
</persistence>
